body{
background-color: #999999;
margin: 0px;
}


#jeu{
top: 35px;
margin-right: auto;
margin-left: auto;
width: 1025px;
height: 598px;
position: relative;
}

#jeu img{
position: absolute;
}
 
#vue{
height: 598px;
width: 900px;
z-index: 1;
}

#ecran_principal{
width: 900px;
height: 598px;
position: absolute;
}

#inventaire{
left: 915px;
width: 110px;
height: 598px;
position: absolute;
background-color: black;
}


#liste{
left: 7px;
height: 598px;
width: 103px;
position: absolute;
overflow: auto;
vertical-align : top;
}


.obj{
width: 78px;
height: 78px;
z-index: 2;
}

#liste tr{
height: 78px;
}

#inventaire table{
height: 598px;
width: 110px;
border-collapse: collapse;
}

#unsubscribe{
    left: 1100px;
    position: absolute;
}

#logout{
    left: 1100px;
    top: 100px;
    position: absolute;
}

#achievements{
    left: -100px;
    position: absolute;
}


#achievements_screen{
    height: 598px;
    width: 900px;
    position: absolute;
    background-color: black;
    z-index: 50;
}


#achievements_table{
    height: 598px;
    width: 900px;
    position: absolute;
    vertical-align : top;
}


.achievement{
    width: 78px;
    height: 78px;
    z-index: 51;
}

#achievements_table tr{
    height: 80px;
}

#achievements_table td{
    width: 78px;
}

#achievements_screen table{
    height: 598px;
    width: 900px;
    border-collapse: collapse;
}

#pop_up_achievement{
    height: 88px;
    width: 900px;
    background-color: black;
    z-index: 10;
    position: absolute;
    padding-top: 5px;
}

#img_pop_up_achievement{
    right: 0px;
    height: 78px;
    width: 78px;
    z-index: 11;
    position: absolute;
}

#text_pop_up_achievement{
    z-index: 11;
    position: absolute;
}